.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.form {
    display: grid;
    gap: 1rem;
}
.form .row {
    display: grid;
    gap: 0.5rem;
}
.form label {
    font-size: 2rem;
}
.form input {
    padding: 0.3rem 0.5rem;
    font-size: 2rem;
}
.form button {
    padding: 0.3rem 0.5rem;
    font-size: 2rem;
}

.preview {
    font-size: 2rem;
}